


.midBox{
  text-align: center; /*让div内部文字居中*/
  border-radius: 10px;
  width: 400px;
  height: 360px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
}

.topp{
  font-size: 40px;
  color:white;
  margin-top: 80px;
  display: flex;

}

.middd{
  color: white;
  margin-top: 80px;
  font-size: 20px;
  display: flex;
}

.flexbox{
  display: flex;
  margin-top: 100px;
  position: center;
  background: transparent;

}

.buttons{
  width: 110px;
  border-radius: 6px;
  background-color: transparent;
  color: white;

}
