<div style="display: flex">
  <div class="col-2"></div>
   <div class=col-8>
    <div class="topp" >
      美国硅谷一线工程师在线直播授课，为你打开IT名企的大门
    </div>
   </div>
</div>

<div style="display: flex">
  <div class="col-4"></div>
    <div class="col-4">
      <div class="middd">
        九章算法已经帮助30000+ 人成功拿到心仪的Offer
      </div>
    </div>
</div>

<div class="flexbox">
  <div class="col-3"></div>
  <div class=" col-2">
    <button class="buttons">VIP集训营</button>
  </div>
  <div class=" col-2">
    <button class="buttons">课程</button>
  </div>
  <div class=" col-2">
    <button class="buttons">微课堂</button>
  </div>
</div>



