


.midBox{
  text-align: center; /*让div内部文字居中*/
  border-radius: 10px;
  width: 400px;
  height: 360px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
}
.loginbutton{
  width: 300px;
  height: 60px;
  background: deeppink;
  position: relative;
  color: gainsboro;
  margin-top: 20px
}

.inputarea1{
  position: relative;
  width: 300px;
  height: 55px;
  margin-top: 40px;
  margin-bottom: 20px;
  background: gainsboro;
}
.inputarea2{
  position: relative;
  width: 300px;
  height: 55px;
  margin-bottom: 10px;
  margin-top: 20px;
  background: gainsboro;

}
.lastone{
  margin-top: 20px;
}
